body {
		font-family: serif;
		font-size:16px;
		
	}
	h1 {
		font-family: sans-serif;
		font-size: 2em;
	}
	p {
		font-size: 1.2em;
	}
	main {
		width:70%;
		margin-left: 30%;
		background-color: white;
	}
	aside {
		text-align:center;
		width:30%;
		float: left;
		border-right: 1px dashed black;
		background-color: rgba(207, 207, 207, 1);
	}
	h1, p {
		padding: 0 2%;
	}
	img {
		border-radius: 100px;
		height: 200px;
		margin: 0 auto;
	}
	.name {
		color:white;
		font-size: 4em;
		font-
	}
	header {
		width: 100%;
		background-color: lightpink;
		margin: 0 auto;
		text-align: center;
	}
	div {
    border-style: dotted;
	color: rgba(255, 128, 130, 1);
	}
	.shadow {
    width: 300px;
    height: 100px;
    padding: 15px;
    background-color: yellow;
    box-shadow: 10px 10px 5px grey;
	}

	header {
		box-shadow: 10px 10px 5px grey;
	}
	